.CustomSearch {
  overflow: auto;
  height: 100vh;
  width: 100%;
  padding: 15px 30px;
}

.CustomSearch .search {
  margin: 20px 0;
  max-width: 700px;
}

.CustomSearch .search__info {
  color: rgb(120, 120, 120);
  font-weight: normal;
  font-size: 14px;
}

.CustomSearch .search__details {
  margin-top: 15px;
}

.CustomSearch .search__title {
  margin-bottom: 5px;
}

.CustomSearch .search__title a {
  font-size: 20px;
  color: #1a0dab;
  text-decoration: none;
}

.CustomSearch .search__description {
  color: #3c4043;
  font-size: 14px;
  margin-bottom: 15px;
}

.CustomSearch .search__description__text {
  margin: 0 !important;
}