.ChatSystem {
  overflow: auto;
  width: 100%;
  padding: 15px 30px;
  height: var(--content-height);
}

.card {
  padding: 5px 10px;
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.2s;
}

.card:hover {
  transform: scale(1);
  cursor: pointer;
}
